@page "/porfile/{Idven}"
@using ClassLibraryDAL
@using ClassLibraryEntity



  @*  display heading*@
   <VendorHeading Id="@Idven"></VendorHeading>

@*   display contact and description*@
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md-6">
                <VendorDescriptionContact vendorDescription="@ModelVendor.description"></VendorDescriptionContact>
                </div>

         <div class="col-md-6"><OffcanvasContact business="@ModelVendor.businessname" email="@ModelVendor.email" ownername="@ModelVendor.ownername" phoneno="@ModelVendor.phoneno" landline="@ModelVendor.landline"></OffcanvasContact></div>
            </div>
     </div>
    @*Vendor services*@
    <ServicesProfileComponent ModelServices="@ModelServices" ></ServicesProfileComponent>  
   

    <VendorPackagesComponent PackageList="@PackageList"></VendorPackagesComponent>



@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string? Idven { get; set; }    
    VendorEntity ModelVendor = new VendorEntity();
    [Parameter] public VenderServicesEntity ModelServices { get; set; }
    [Parameter] public List<PackagesEntity> PackageList { get; set; }


    protected override Task OnParametersSetAsync()
    {
        OnLoad();
        StateHasChanged();
        return base.OnParametersSetAsync();
    }


    protected override void OnInitialized()
    {
        //OnLoad();
    }
    protected void OnLoad()
    {
        ModelVendor = ClassLibraryDAL.VendorDAL.GetVendorById_V(Idven);
        ModelServices = ClassLibraryDAL.ServicesDAL.GetServiceByVendorId(Idven);       

        PackageList = ClassLibraryDAL.PackagesDal.GetPackagesById(Idven);
        

    }
}
