@page "/porfile/{Id}"
@using ClassLibraryDAL
@using ClassLibraryEntity

  @*  display heading*@
   <VendorHeading Id="@Id"></VendorHeading>

@*   display contact and description*@
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md-6">
                <VendorDescriptionContact vendorDescription="@ModelVendor.description"></VendorDescriptionContact>
                </div>

         <div class="col-md-6"><OffcanvasContact business="@ModelVendor.businessname" email="@ModelVendor.email" ownername="@ModelVendor.ownername" phoneno="@ModelVendor.phoneno" landline="@ModelVendor.landline"></OffcanvasContact></div>
            </div>
     </div>
    @*Vendor services*@
    <ServicesProfileComponent ModelServices="@ModelServices" ></ServicesProfileComponent>  
   

    <VendorPackagesComponent PackageList="@PackageList"></VendorPackagesComponent>



@code {
    [Parameter] public string Id { get; set; }
    VendorEntity ModelVendor = new VendorEntity();
    [Parameter] public VenderServicesEntity ModelServices { get; set; }
    [Parameter] public List<PackagesEntity> PackageList { get; set; }
     
   
    protected override void OnInitialized()
    {
        OnLoad();
    }
    protected void OnLoad()
    {
        ModelVendor = ClassLibraryDAL.VendorDAL.GetVendorById_V(Id);
        ModelServices = ClassLibraryDAL.ServicesDAL.GetServiceByVendorId(Id);       

        PackageList = ClassLibraryDAL.PackagesDal.GetPackagesById(Id);
        

    }
}
